/*############################################*/
/****************Mobile***************/
/*############################################*/

@media (max-width:824px){
    :root {
        --primary-color:#00594d;
        --font-title: 3.2rem;
        --font-paragraph: 2.3rem;
    }
    /*****************Header**********************/
    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }
    
    html {
        font-size: 62.5%;
    }
    
    body {
        font-family: 'Nunito Sans', sans-serif;
    }
    
    .main-header {
        width: 100%;
        height: 60px;
        background-color: #00594d;
        color: white;

        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        border-bottom: 1px solid rgb(255, 255, 255,0.5);
    }
    .main-header__logo {
        float: left;
        position: absolute;
        top: 1rem;
        left: 1rem;
        width: 160px;
    }

    /*******************Menu*****************/
    #menu-bar {
        display: none;
    }
    #menu-bar:checked ~ .main-header__menu {
        transform: translatex(0%);
    }
    
    .main-header__icon{
        float: right;
        font-size: 4.5rem;
        cursor: pointer;
        position: absolute;
        left: 85%;
    }
    
    .main-header__menu{
        position: relative;
        top: 60px;
        left: 0px;
        width: 100%;
        height: 100vh;
        background-color: #00594d;
        transition: all 0.5s;
        transform: translatex(-100%);
    }
    
    .main-header__items {
        display: block;
        color: white;
        height: 50px;
        text-decoration: none;
        font-size: 1.5rem;
        padding: 20px;
        border-bottom: 1px solid rgb(255, 255, 255, 0.5);
        text-align: center;
    }
    
    .main-header__items:hover {
        background-color: rgb(255, 255, 255, 0.2);;
    }
    /***************Carrusel**********************/
    .main-section {
        position: relative;
        width: 100%;
        top: 60px;
    }
    .slider__img {
        display: block;
        width: 100%;
        height: 100%;
    }

    .main-section__carrusel--tigre {
        width: 100%;
    }

    img.d-block.w-100 {
        height: 640px;
    }

    /**********************Nosotros******************/
    .main-section__title {
        padding: 25px 0px;
        text-align: center;
        color: var(--primary-color);
        font-size: var(--font-title);
        border-bottom: 5px solid;
        width: 50%;
        margin: 10% 25%;
    }
    .main-section__row--nosotros {
        padding: 0px 20px;
    }
    .main-section__paragraph--span{
        font-weight: bold;      
    }

    .main-section__paragraph {
        font-size: var(--font-paragraph);
        text-align: justify;
        margin-bottom: 60px;
        padding: 0px 20px;
    }

    .main-section__mp4 {
        width: 100%;
        padding: 0px 0px;
    }
    
    /*****************Servicios************************/
    .main-section__servicios {
        margin-top: 60px 10px 0px 10px;
    }
    .main-cards {
        margin: 0% 2%;
    }

    .main-cards__item {
        border: 1px solid;
    }
    .main-cards__img {
        padding: 10% 0% 0% 0%;
    }

    .main-cards__icon {
        width: 50%;
        margin: 0% 25%;
    }

    .main-cards__paragraph {
        font-size: var(--font-paragraph);
        text-align: justify;
        margin-bottom: 60px;
        margin: 5% 5% 5% 5%;
    }

    .main-cards__item {
        border: 5px solid;
        background-color: #918c1030;
        margin: 0% 10%;
        border-radius: 20px;
        border-color: #918c10;
        margin: 0% 10% 10% 10%;
    }
    .main-cards__button {
        width: 50%;
        font-size: 2.2rem;
        margin: 0% 25% 10%;
        border: 3px solid;
        background-color: white;
        font-weight: bold;
        border-radius: 10px;
        border-color: #918c10;
        color:#918c10;
    }

    .main-cards__item--jungledigital{
        border: 5px solid;
        background-color: #8d847a50;
        margin: 0% 10%;
        border-radius: 20px;
        border-color: #8d847a;
        margin: 0% 10% 10% 10%;
    }

    .main-cards__button--jungledigital{
        width: 50%;
        font-size: 2.2rem;
        margin: 0% 25% 10%;
        border: 3px solid;
        background-color: white;
        font-weight: bold;
        border-radius: 10px;
        border-color: #8d847a;
        color:#8d847a;
    }
    .main-cards__item--junglefilms {
        border: 5px solid;
        background-color: #c88a3d20;
        margin: 0% 10%;
        border-radius: 20px;
        border-color: #c88a3d;
        margin: 0% 10% 10% 10%;
    }
    .main-cards__button--junglefilms {
        width: 50%;
        font-size: 2.2rem;
        margin: 0% 25% 10%;
        border: 3px solid;
        background-color: white;
        font-weight: bold;
        border-radius: 10px;
        border-color: #c88a3d;
        color:#c88a3d;
    }
    .main-cards__item--junglelearning {
        border: 5px solid;
        background-color: #00594d25;
        margin: 0% 10%;
        border-radius: 20px;
        border-color: #00594d;
        margin: 0% 10% 10% 10%;
    }
    .main-cards__button--junglelearning {
        width: 50%;
        font-size: 2.2rem;
        margin: 0% 25% 10%;
        border: 3px solid;
        background-color: white;
        font-weight: bold;
        border-radius: 10px;
        border-color: #00594d;
        color:#00594d;
    }

    /*********************Blog*****************/
    .main-section__blog--title {
        font-size: var(--font-title);
        margin: 10% 25%;
        width: 50%;
        text-align: center;
    }
    .main-section__button {
        width: 50%;
        font-size: 2.2rem;
        margin: 0% 25% 10%;
        border: 3px solid;
        background-color: black;
        font-weight: bold;
        border-radius: 10px;
        border-color: black;
        color:white;
    }
    .main-section__img {
        width: 50%;
        margin: 0% 25%;
    }

    /**************CONTACTO*****************/

    form {
        width: 50%;
        margin: auto;
    }

    input, textarea {
        width: 100%;
        padding: 7px;
        font-size: 4rem;
       
    }

    .main-form--der {
        text-align: center;
        font-size: var(--font-paragraph);
    }

    /******************Footer*****************************/
    footer {
        height: 100%;
        background-color: #8d847a ;
        text-align: center;
    }


    footer p {
        background-color: #8d847a;
        font-size: var(--font-paragraph);
        color: white;
        display: flex;
        text-align: center;
        margin: 0% 25%;

    }


}
